{{/* 1. 提取数据包裹 */}}
{{ $item := . }}
{{ if .item }}
{{ $item = .item }}
{{ end }}

<div class="pub-list-item" style="margin-bottom: 1rem; line-height: 1.5;">

    {{/* A. 作者列表：去除多余空格的完美版 */}}
    <span itemprop="author">
        {{- range $index, $value := $item.Params.authors -}}
        {{- if gt $index 0 }}, {{ end -}}

        {{- $name_str := printf "%s" . -}}

        {{- if in $name_str "Chengyuan" -}}
        <b style="font-weight: 700 !important; color: #000;">{{- $name_str -}}</b>
        {{- else -}}
        {{- $name_str -}}
        {{- end -}}
        {{- end -}}
    </span>.

    {{/* B. 论文标题 (修改点：改成 span，纯文本，保留下划线) */}}
    <span style="text-decoration: underline; font-weight: normal; color: inherit;">
        {{ $item.Title }}
    </span>.

    {{/* C. 期刊/会议名称 + 年份 */}}
    {{ if $item.Params.publication }}
    In <em style="font-style: italic;">{{ $item.Params.publication | markdownify }}</em>
    {{ else if $item.Params.publication_short }}
    In <em style="font-style: italic;">{{ $item.Params.publication_short | markdownify }}</em>
    {{ end }}

    {{/* D. 年份 */}}
    {{ if $item.Date }}
    , {{ $item.Date.Format "2006" }}.
    {{ else }}
    .
    {{ end }}

    {{/* 按钮链接 */}}
    <div class="btn-links" style="margin-top: 0.5rem;">
        {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>

</div>